
/* ======== Title ======== */
.title{
  margin-top: 5rem;
}

.title__container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.title__container a{
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--color-bg1);
  cursor: pointer;
}

.title__container a:hover{
  background: var(--color-primary);
}



/* ======== Garmmar ======= */

.poem__container{
  text-align: center;
  margin: 0 auto;
} 

.poem__container h4 {
  text-align: center;
  color: var(--color-bg2);
  margin-bottom: 1.5rem;
}

.poem{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}
.poem p {
  margin: 1rem 0;
  font-size: 1.2rem;
  border: 1px solid var(--color-primary);
  padding: 1rem;
}

.highlight {
  color: var(--color-success);
  font-weight: bold;
}

/* ===== Capital Letter Section ===== */
.capital__container{
  background: var(--color-bg2);
  margin-top: 4rem;
  padding: 4rem;
}

.capital__alphabet{
  text-align: center;
  padding: 1rem;
  border: 1px solid var(--color-bg);
  margin-bottom: 3rem;
}
.capital__alphabet p{
  margin-bottom: 1rem;
}

.capital__rules{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.capital__rule{
  background: var(--color-bg1);
  padding: 2rem;
}

.capital__rule p{
  font-size: 1.2rem;
  font-weight: bold;
}

.capital__rule span{
  font-size: 1rem;
  color: var(--color-light);
}



/* ======= Tablet Media Query ====== */
@media screen and (max-width:1024px) {

  .title__container a{
    padding: 0.8rem;
    gap: 0.5rem;
    font-size: 0.9rem;
  }
  .title__container{
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
  }

  .poem{
    grid-template-columns: repeat(3,1fr);
    gap: 0.8rem;
  }

  .capital__container{
    padding: 2rem;
  }

  .capital__rule p{
  font-size: 1rem;
  }
  .capital__rule span{
  font-size: 0.9rem;
  }


}

/* ======= Mobile Media Query ====== */
@media screen and (max-width:670px) {
 .title__container a{
    padding: 0.6rem;
    gap: 0.4rem;
    font-size: 0.9rem;
  }
  .title__container{
    padding: 1rem;
    grid-template-columns: repeat(2,1fr);
    gap: 0.4rem;
  }

  .poem{
    grid-template-columns: repeat(2,1fr);
    gap: 0.6rem;
  }

   .capital__container{
    padding: 1rem;
  }

  .capital__rules{
    grid-template-columns: 1fr;
  }


}