


.contact__container{
  background: var(--color-bg1);
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4rem;
  height: 30rem;
  margin: 7rem auto;
  border-radius: 1rem;
}

.contact__aside{
  background: var(--color-primary);
  padding: 3rem;
  border-radius: 1rem;
  position: relative;
  bottom: 10rem;
}

.aside__image{
  max-width: 20rem;
  margin-bottom: 2rem;
}

.contact__aside h2{
  text-align: left;
  margin-bottom: 1rem;
}

.contact__aside p{
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.contact__container li {
 display: grid;
 gap: 1rem;
 align-items: center;
 margin-bottom: 1rem;
}

.contact__socials{
  display: flex;
  gap: 0.8rem;
  margin-top: 2rem;
}

.contact__socials a i{
  background: var(--color-bg2);
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 50%;
}
.contact__socials a i:hover{
  background: var(--color-danger);
  color: var(--color-warning);
}

.contact_form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: 4rem;
}

.form_name{
  display: flex;
  gap: 1.2rem;
}

.contact_form input[type="text"]{
width: 50%;
}

input,textarea{
  width: 100%;
  padding: 1rem;
  background: var(--color-bg);
  color: var(--color-white);
}

.contact_form .btn{
  align-self: center;
  width: max-content;
  cursor: pointer;
}



@media screen and (max-width:1024px) {
  .contact{
    padding-bottom: 0;
  }

  .contact__container{
    gap: 1.5rem;
    margin-top: 3rem;
    height: auto;
    padding: 1.5rem;
  }

  .contact__aside{
    width: auto;
    padding: 1.5rem;
    bottom: 0;
  }

  .contact_form{
    align-self: center;
    margin-right: 1.5rem;
  }
}

@media screen and (max-width:670px) {
  .contact__container{
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-top: 0;
    padding: 0;
  }

  .contact_form{
    margin: 0 1.5rem 3rem;
  }

  .form_name{
    flex-direction: column;
  }

  .form_name input[type= "text"]{
    width: 100%;
  }
}