*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --color-primary:#6c63ff;
  --color-success:#00bf8e;
  --color-warning:#f7c94b;
  --color-danger:#f75842;
  --color-darger-varient:rgba(247,88,66,0.4);
  --color-white:#fff;
  --color-light:#e9e0e0;
  --color-block:#000;
  --color-bg:#1f2641;
  --color-bg1:#2e3267;
  --color-bg2:#424890;

  --container-width-lg:80%;
  --container-width-md:90%;
  --container-width-sm:94%;

  --transition:all 400ms ease;
}

body.light-theme {
  --color-primary:#e5e7eb;
  --color-success:#16a34a;
  --color-warning:#eab308;
  --color-danger:#dc2626;
  --color-darger-varient:rgba(220,38,38,0.2);

  --color-white:#000;
  --color-light:#1f2937;
  --color-block:#fff;

  --color-bg:#ffffff;
  --color-bg1:#f3f4f6;
  --color-bg2:#e5e7eb;
}


body{
  font-family: sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}

.window-scroll{
  background: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.2);
}

.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

section{
  padding: 5rem 0;
}

section h2{
  text-align: center;
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5{
  line-height: 1.2;
}

h1{
  font-size: 2.4rem;
}
h1{
  font-size: 2.4rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 2.4rem;
}
h4{
  font-size: 1.3rem;
}

h5{
  font-size: 1rem;
}

h6{
  font-size: 0.6rem;
}

a{
  color: var(--color-white);
}

img{
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn{
  display: inline-block;
  background: var(--color-white);
  color: var(--color-block);
  padding: 1rem 2rem;
  border: 1px solid transparent;
}

.btn:hover{
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary{
  background: var(--color-danger);
  color: var(--color-white);
}


/* ====== Theme Icons ====== */
#darklight-mode {
  cursor: pointer;
  display: inline-flex;
}

#darklight-mode i {
  font-size: 1.5rem;
  transition: var(--transition);
}

#darklight-mode i:hover {
  transform: rotate(20deg);
}

.uil-brightness {
  color: var(--color-warning);
}

.uil-moon {
  color: var(--color-black);
}






/* =========== Navbar Start =========== */


nav{
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav__container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button{
  display: none;
}

.nav__menu{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a{
  font-size: 0.9rem;
  transition: var(--transition);
}

.nav__menu a:hover{
  color: var(--color-bg2);
}

/* ======= Navbar End ======= */

/* ====== Header Start ======= */
header{
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}

.header__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header__left p{
  margin: 1rem 0 2.5rem;
}
/* ====== Header End ======= */

/* ======= Categories Start ======== */
  .categories{
    background: var(--color-bg1);
  }
  .categories h1{
    line-height: 1;
    margin-bottom: 3rem;
  }
  .categories__container{
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .category__left{
    margin-right: 4rem;
  }

  .category__left p{
    margin: 1rem 0 3rem;
  }

  .category__right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
  }

  .category{
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
  }

  .category:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .category:nth-child(2) .category__icon{
    background: var(--color-primary);
  }
  .category:nth-child(3) .category__icon{
    background: var(--color-warning);
  }
  .category:nth-child(4) .category__icon{
    background: var(--color-primary);
  }
  .category:nth-child(6) .category__icon{
    background: var(--color-success);
  }

  .category__icon{
    background: var(--color-danger);
    padding: 0.7rem;
    border-radius: 0.9rem;
  }

  .category h5{
    margin: 2rem 0 1rem;
  }

  .category p{
    font-size: 0.8rem;
  }
/* ======= Categories End ======== */


/* ====== Course Start ===== */
.course{
  margin-top: 1rem;
  background: var(--color-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.course:hover{
  background: transparent;
  border-color: var(--color-primary);
}

.course__container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.course_info{
  padding: 2rem;
}

.course_info p {
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}
/* ====== Course End ===== */


/* ====== FAQ Start ===== */
.faqs{
  background: var(--color-bg1);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.55);
}

.faqs__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq{
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
  height: fit-content;
  background: var(--color-primary);
  cursor: pointer;
}

.faq h4{
  font-size: 1rem;
  line-height: 2.2;
}

.faq__icon{
  align-self: flex-start;
  font-size: 1.2rem;
}

.faq p{
  margin-top: 0.8rem;
  display: none;
}

.faq.open p{
  display: block;
}


/* ====== FQA End ===== */


/* ====== Testimonial Start ===== */
.testimonial__container{
  overflow-x: hidden;
  position: relative;
  margin: 5rem;
}

.testimonial{
  padding-top: 2rem;
}

.avatar{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 0.5rem solid var(--color-bg1);
}

.testimonial__info{
  text-align: center;
}

.testimonial__body{
  background: var(--color-primary);
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

/* for the hill in between body */
.testimonial__body::before{
  content: "";
  display: block;
  background: var(--color-primary);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 48%;
  top: -1.5rem;
  transform: rotate(45deg);
}


/* ====== Testimonial Start ===== */


/* ====== Footer Start ===== */
footer{
  background: var(--color-bg1);
  padding-top: 5rem;
  font-size: 0.9rem;
}

.footer__container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5rem;
}

.footer__container >div h4{
  margin-bottom: 1.2rem;
}

.footer__1 p{
  margin: 0 0 2rem;
}

footer ul li{
  margin-bottom: 0.7rem;
}

footer ul li a:hover{
  text-decoration: underline;
}

.footer__socials{
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.footer__copyright{
  text-align: center;
  margin-top: 4rem;
  padding: 1.2rem 0;
  border-top: 1px solid var(--color-bg2);
}


/* ====== Footer End ===== */

/* ====== Media Query Start ===== */
@media screen and (max-width:1024px) {
  .container{
    width: var(--container-width-md);
  }

  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 1.4rem;
  }
  h4{
    font-size: 1.2rem;
  }
  h5{
    font-size: 1rem;
  }

  h6{
    font-size: 0.8rem;
  }

  /* ====== Navbar ===== */
  nav button{
    display: inline-block;
    background: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }

  nav button#close-menu-btn{
    display: none;
  }

  .nav__menu{
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  .nav__menu li{
    width: 100%;
    height: 5.8rem;
    animation: animateNavItems 1s linear forwards ;
    transform-origin: top right;
  }

  @keyframes animateNavItems {
    0%{
      transform: rotateZ(-90deg);
    }
    100%{
      transform: rotateZ(0);
    }
  }

  .nav__menu li a{
    background: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav__menu li a:hover{
    background: var(--color-bg2);
    color: var(--color-white);
  }

  /* ====== Header ====== */
  header{
    height: 52vh;
    margin-bottom: 10rem;
  }
  .header__container{
    gap: 2rem;
    padding-bottom: 3rem;
  }

  /* ====== Categories ======= */
  .categories{
    height: auto;
  }

  .categories__container{
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .category__left{
    margin-right: 0;
  }

  /* ====== Course ====== */
  .course{
    margin-top: 0;
  }
  .course__container{
    grid-template-columns: 1fr 1fr;
  }

  /*=========== FAQ ========== */
  .faqs__container{
    grid-template-columns: 1fr;
  }

  .faq{
    padding: 1.5rem;
  }

  /* ======= Testimonial ====== */
  .testimonial__body::before{
    left: 44%;
  }

  /* ======== Footer ======= */
  .footer__container{
    grid-template-columns: 1fr 1fr;
  }
}
/* ====== Media Query End ===== */


/* ===== Media Query for phone ===== */

@media screen and (max-width:670px) {
  .container{
    width: var(--container-width-sm);
  }

  /* ===== Navbar ===== */
  .nav__menu{
    right: 3%;
  }

  /* ====== Header ===== */
  header{
    height: 100vh;
  }

  .header__container{
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0rem;
  }

  .header__left p{
    margin-bottom: 1.3rem;
  }

  /* ====== Categories====== */
  .category__right{
    grid-template-columns: 1fr;
  }

  .category{
    padding: 1rem;
    border-radius: 1rem;
  }

  .category__icon{
    margin-top: 4px;
    display: inline-block;
  }

  /* ======== Course======= */
  .course__container{
    grid-template-columns: 1fr;
  }

  /* ======== Testimonial ======= */

  .testimonial__body{
    padding: 1.2rem;
  }

  /* ======== Footer ======= */
  .footer__container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .footer__1 p{
    margin: 1rem auto;
  }
  .footer__socials{
    justify-content: center;
  }
}