
.tenses__container{
  background: var(--color-bg2);
  padding: 3rem;
}




.tense__box{
  background: var(--color-bg1);
  padding: 2rem;
}

.sub-tense__box{
  display: flex;
  gap: 2rem;
  border: 1px solid var(--color-danger);
  padding: 1rem;
}

.box-2{
  border-left: 1px solid var(--color-danger);
  padding-left: 1rem;
}