
.header-link{
  display: flex;
  gap: 0.5rem;
}
.link{
  padding: 0.5rem;
  background:var(--color-danger);
}

.link:hover{
    background:var(--color-success);
}



@media screen and (max-width:1024px) {
  .link{
    font-size: 0.7rem;
  }
}
@media screen and (max-width:670px) {
  .link{
    font-size: 0.5rem;
  }
}

